body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.language-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 100;
}

.language-switch button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    min-width: 100px;
    text-align: center;
}

.language-switch button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.scenario {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    max-width: 600px;
    width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
    margin-top: 60px;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.8em;
}

#question {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: #f0f0f0;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.options button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
}

.options button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

#result {
    margin-top: 30px;
    font-size: 1em;
    text-align: center;
    color: #bbbbbb;
}

.navigation {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 15px;
    gap: 10px;
    flex-wrap: wrap;
}

.navigation button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
    flex-grow: 1;
    width: 100%;
    max-width: 200px;
}

.navigation button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .scenario {
        padding: 15px;
        border-radius: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    #question {
        font-size: 1.1em;
    }

    .options button {
        padding: 12px;
        font-size: 1em;
    }

    .navigation {
        padding: 10px;
        border-radius: 10px;
        flex-direction: column;
        gap: 10px;
    }
}
